<div class="row justify-content-center">

  <div class="col-md-8">
    <h1>Create Movie</h1>
    <form method="POST" action="/addmovie">
      <div class="form-group">
        <label for="username-input">Title</label>
        <input
          name="title"
          type="text"
          class="form-control"
          id="username-input"
        />
      </div>
      <div class="form-group">
        <label for="password-input">Year</label>
        <input
          name="year"
          type="text"
          class="form-control"
          id="password-input"
        />
      </div>
      <div class="form-group">
        <label for="password-input">Director</label>
        <input
          name="director"
          type="text"
          class="form-control"
          id="password-input"
        />
      </div>
      <button type="submit" class="btn btn-dark">Process Login</button>
    </form>
  </div>

  {{#if username}}
    <div class="col-md-4">
      <h4>You just inputted following data:</h4>
      <ul>
        <li>Username: {{username}}</li>
        <li>Password: {{pwd}}</li>
      </ul>
    </div>
  {{else}}
    <div class="col-md-4">
      <h4>After you submit the form, you will see the data pop up here!</h4>
    </div>
  {{/if}}
</div>